/*
  In this project we are using css variables instead of sass ones, this is just to
  learn something new

  Also css variables has two advantages over sass ones:
   - they can be manipulated via the devtools
   - they can be manipulated via javascript (using the setProperty function on the root styles)
*/
:root {
  --color-primary: #eb2f64;
  --color-primary-lighter: #ff3366;
  --color-primary-darker: #ba265d;

  --color-gray-lightest: #faf9f9;
  --color-gray-lighter: #f4f2f2;
  --color-gray-light: #f0eeee;
  --color-gray-medium: #ccc;
  --color-gray-dark: #999;
  --color-gray-darker: #777;
  --color-gray-darkest: #333;
}
